<%- include('./partials/head_html') %>

<%- include('./partials/header') %>

<div class="wrapper">
    <div class="news">

    <% if(articles != null){ %>

        <% articles.forEach( function(articles,index) {  %>

            <a href="/articale/<%- articles.id %>" class="news__card"> 

            <img src="<%- articles.thumbnail_url %>" alt="<%- articles.title.rendered %>">
            <h2><%- articles.title.rendered %></h2>
            <p> <%- articles.excerpt.rendered %> </p>

            </a>
            
         <% }) %>
    <% } else{ %>      
         No Post Found 
    <% } %>

    </div>
</div>
     
<%- include('./partials/foot_html') %>