<%- include('./partials/head_html') %>

<a href="/"><%- include('./partials/header') %></a>

<div class="wrapper">
    <div class="news">
        
    <% if(articales != null){ %>

        <% articales.forEach( function(articales,index) {  %>

        <a href="/articale/<%- articales.id %>" class="news__card"> 
        <img src="<%- articales.thumbnail_url %>" alt="<%- articales.title.rendered %>">
        <h2><%- articales.title.rendered %></h2>
        <p> <%- articales.excerpt.rendered %> </p>

        </a>
        
        <% }) %>
    <% } else{ %>      
         No Post Found 
    <% } %>

    </div>
</div>
     
<%- include('./partials/foot_html') %>