<%- include('./partials/head_html') %>

<%- include('./partials/header') %>

   <div class="wrapper">
       <div class="news-single">

        <% if(article != null){ %>
   
              <a href="/">&larrb; Home</a>
               <!-- <img src="<%- article.thumbnail_url %>" alt="<%- article.title.rendered %>"> -->
               <h2><%- article.title.rendered %></h2>
               <p> <%- article.content.rendered %> </p>
        
   
           <% } else{ %>
               
           No Post Found
           
           <% } %>
       </div>
   </div>
     
<%- include('./partials/foot_html') %>